$col-background: #fffcf0;
$col-statement: #e5d3af;
$col-bold: #f5e3cf;
$col-menu: #b4a083;
$col-text: #0a0802;
$col-text-bold: #c56f19;
$col-error: red;
$col-border: #5f5949;

%rounded-block{
	border-radius: 5px;
}

%light-shadow-txt{
	text-shadow: 2px 2px 5px $col-border;
}

%light-shadow-box{
	box-shadow: 2px 2px 5px $col-border;
}

%invert-shadow-box{
	box-shadow: -2px 2px 5px $col-border;
}

@mixin fancy-btn($height){
	text-decoration: none;
	float: right;
	height: $height;
	margin: 11px 5px;
	line-height: $height;
	padding: 0px 5px;
	border: 1px solid $col-text-bold;
	display: inline-block;
	@extend %rounded-block;
	@extend %light-shadow-box;
}

body{
	background-color: $col-background;
	color: $col-text;
	margin: 0px;
	font-family: Sans-serif;
}

a{
	color: $col-text-bold;
}

ul{
	padding-left: 0px;
}

.simple-msg{
	text-align: center;
	padding: 30px;
}

.error{
	color: $col-error;
}

.header{
	background-color: $col-menu;
	box-shadow: 0px 5px 10px $col-border;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;

	div{
		margin: 0px;
		display: block;
		float: left;
		width: 33%;
		height: 50px;

		h1{
			line-height: 50px;
			font-size: 35px;
			margin: -1px 15px;
			@extend %light-shadow-txt;
		}

		a{
			@include fancy-btn(24px);
			background-color: $col-background;
		}
		a::first-letter{
			text-transform: capitalize;
		}

		a:hover{
			@extend %invert-shadow-box;
		}

		form{
			line-height: 30px;
			margin: 7px 0px;

			input{
				@extend %light-shadow-box;
			}
		}

		.header{
			text-align: left;
		}

		.search{
			text-align: center;
		}

		.usr-info{
			text-align: right;
		}
	}
}

.content{
	margin: 65px 15%;
	
	.form{
		background-color: $col-statement;
		text-align: center;
		margin: 60px 25%;
		box-shadow: 0px 0px 10px $col-border;
		padding: 10px;
		@extend %rounded-block;

		span{
			display: inline-block;
		}
	}

	.book{
		color: $col-text;
		@extend %rounded-block;
		@extend %light-shadow-box;
		padding: 5px 10px;
		padding-bottom: 40px;
		margin: 7px 0px;
		text-transform: capitalize;

		h2{
			margin: 0px 0px;
		}

		ul{
			list-style-type: none;

			li{
				margin: 0px 10px;
				float: left;
			}

			.book_stat{
				color: $col-text-bold;
				text-transform: capitalize;
			}
		}
	}

	.book-review{
		display: inline-block;
		@extend %rounded-block;
		@extend %light-shadow-box;
		padding: 10px 10px;
		margin: 7px 7px;
		text-transform: capitalize;

		ul{
			list-style-type: none;

			li{
				margin: 0px 5px;
				border-bottom: 1px solid $col-border;
			}

			li:last-child{
				border-bottom: none;
			}

			li::first-letter{
				font-weight: 500;
			}

			span{
				margin-left: 10px;
				color: $col-text-bold;
				display: inline-block;
			}
		}
	}

	#add-review{
		@include fancy-btn(35px);
		background-color: $col-bold;
	}
	#add-review:hover{
		@extend %invert-shadow-box;
	}
}

@media (max-width: 605px) {
	.header{
		height: auto;
		position: static;
		margin: 0px 0px;
		padding: 10px;
		width: auto;

		div, .page-caption, .search, .usr-info{
			height: auto;
			width: 100%;
			float: none;
			text-align: center;
			margin: 5px 5px;
			box-shadow: none;

			a{
				margin: 5px 5px;
				float: none;
				height: auto;
			}
		}
	}

	.content{
		margin: 0px 0px;

		.form {
			margin: 10px 0px;
			box-shadow: none;
		}

		.book{
			height: 120px;
		}
	}
}

@media (min-width: 606px) and (max-width: 1365px){
	.header{

		div{
			width: auto;
			display: inline-block;
			float: left;
			margin: 0px 1px;
			padding: 0px 10px;
			box-shadow: 0px 2px 5px $col-border;
		}
	}
}

@media (min-width: 606px) and (max-width: 1065px){
	.header{
		height: 50px;
		overflow: visible;

		.search, .usr-info{
			float: right;
		}

		.usr-inf{
			box-shadow: none;
		}
	}

	.content{
		margin: 115px 15%;

		.form{
			margin: 0px;
		}

		.book{
			height: 90px;
		}
	}
}
