{% extends "layout.html" %}

{% block content %}
<div class="book-info">
	<h2>{{ db['book.title'] }}</h2>
	<ul>
		<li>{{ copy['book_author'] }}{{ db['book'].author }}</li>
		<li>{{ copy['book_isbn'] }}{{ db['book'].isbn }}</li>
		<li>{{ copy['book_year'] }}{{ db['book'].year }}</li>
		<li>{{ copy['book_lang'] }}{{ db['book'].lang }}</li>
	</ul>
</div>
<div class="comment-cont">
	{% for comment in db['comments'] %}
	<div class="comment">
		<a href="{{ url_for(comment.usr_name) }}"><h3>{{ comment.usr_name }}</h3></a>
		<p>{{ comment.lang_nat }}</p>
		<div class="lang-comment">
			<h6>{{ copy['stars'] }}{{ comment.first_lang_stars}}</h6>
			<p>{{ comment.first_lang_review }}</p>
		</div>
		<div class="lang-comment">
			<h6>{{ copy['stars'] }}{{ comment.second_lang_stars}}</h6>
			<p>{{ comment.second_lang_review }}</p>
		</div>
	</div>
	<div class="add-comment">
		{{ add_comment }}
	</div>
</div>
{% endblock %}
