<!doctype html>

<html>
	<head>
		<title>{{ copy["title"] }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--{{ err_txt }}-->
	</head>
	<body>
		<div class="header">
			<div class="page-caption">
				<h1>{{ name }}</h1>
			</div>
			<div class="search">
				<form action="{{ url_for('index') }}" method="post">
					<input type="text" name="search" placeholder="Search">
					<input type="submit" value="Search">
				</form>
			</div>
			<div class="usr-info">
				{{ usr }}
			</div>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
