<!doctype html>

<html>
	<head>
		<title>{{ copy["title"] }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/style/style.css">
	</head>
	<body>
		<div class="header">
			<div class="page-caption">
				<h1>{{ copy['pg_name'] }}</h1>
			</div>
			<div class="search">
				<form action="{{ url_for('index') }}" method="post">
					<input type="text" name="search" placeholder="{{ copy['search_hint'] }}">
					<input type="submit" value="{{ copy['search_btn'] }}">
				</form>
			</div>
			<div class="usr-info">
				{{ usr }}
			</div>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
